* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
ul li{
  margin: 0 40px;
  padding: 10px;
}
.nav__item {
  color: black ;
 

}
.activeNavItem {
  background-color: black;
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 15px;
}

